footer{
    background-color: #000;
    color: $text-primary;
    padding: 3rem;
    text-align: center;

    .social-icons-wrapper{
        margin-bottom: 1rem;

        a{
            margin-right: 1rem;
            font-size: 2rem;

            &:hover{
                color: $theme-yellow;
            }
        }
    }

    hr{
        opacity: 0.3;
    }

    p{
        margin-top: 1rem;
        font-size: 18px;
        font-style: oblique;
    }
}