section.projects{
    background-color: $bg-secondary;
    padding-bottom: 20rem;
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
    margin-bottom: -11vw;

    .container{
        overflow: hidden;
    }


    .content-wrapper{
        position: relative;
        padding: 2rem 3rem;
        background-color: $bg-primary;
        border-bottom: 2px solid $theme-yellow-light;
        box-shadow: -14px 14px 26px -14px rgba(0,0,0,0.87);

        .over-title{
            color: $theme-yellow-light;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 1.5px;
        }

        h4{
            margin: 1rem 0;
            font-size: 2.5rem;
        }

        p{
            margin-bottom: 2rem;
            font-size: 1.4rem;
        }
        .ability-list{
            font-size: 1.3rem;
            opacity: 0.7;
            margin-bottom: 2rem;

            li{
                margin-bottom: 0.5rem;
            }
        }

        .github-btn{
            i{
                margin-left: 5px;
            }
        }

        .package-list{
            margin: 2rem 0;
            opacity: 0.5;

            li{
                display: inline-block;
                border: 1px solid $text-primary;
                border-radius: 25px;
                padding: 0.5rem;
                margin: 3px;
                font-size: 1.1rem;
            }
        }
    }

    .right::before{
        content: '';
        position: absolute;
        top: 50%;
        left: -25%;
        width: 25%;
        height: 0.5rem;
        opacity: 0.5;
        background-color: $theme-yellow-light;
    }

    .left::after{
        content: '';
        position: absolute;
        top: 50%;
        right: -25%;
        width: 25%;
        height: 0.5rem;
        opacity: 0.5;
        background-color: $theme-yellow-light;
    }

    .img-wrapper{
        transition: all 0.5s ease;

        &:hover{
            opacity: 0.4;
        }
    }
}


