@font-face{
    font-family: 'Roboto';
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}

@import './variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Roboto;
    font-size: 10px;
    color: $text-primary
}

a{
    text-decoration: none;
    color: $text-primary;
    transition: color 0.3s ease;
}

ul{
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    background-color: $bg-primary;
}

@import './_navbar';

@import './header';